/******************************************************************

Variables

******************************************************************/

$black:             #231f20;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #878787;

$link-color:        $black;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
$alert-red:					red;
$alert-green:				#645564;
$alert-blue:				blue;

 $principal-color: #e74c3c;
 $principal-color-light: #F4503F;

 $success: #2ECC71;
 $success-dark: #28B263;
 $background-search: #4992fc;
 $border-search: #407fda;

 $gray-color: #cccccc;
 $gray-color-dark: #cecece;

 $highlight: #f4db6f;
 $highlight-dark: #CE9D3C;
 $facebook: #50649f;
 $facebook-dark: #435485;
