/******************************************************************

Mobile

******************************************************************/

/*********************
GENERAL STYLES
*********************/
.transition {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: $font;
	font-size: 100%;
	line-height: 1.5;
	overflow-x: hidden;
	min-height: 100%;
	background-color: rgba(0,0,0,0.5);
	background-image: url('../images/arena.png');
	background-size: cover;
	height: 100%;
	@extend .transition;
}

html {
	height: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

::selection {
	color: #ffffff;
	background: $principal-color;
}
::-moz-selection { /* Code for Firefox */
	color: #ffffff;
	background: $principal-color;
}

/*********************
LAYOUT & GRID STYLES
*********************/

/*********************
LINK STYLES
*********************/

a, a:visited {
	@extend .transition;
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		text-decoration: none;
		color: $principal-color;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

i {
	@extend .transition;
}
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: transparent;
}


.logo {
	a {
		padding: 8px 15px;
		height: 105px;
		font-size: 2.5em;
		color: #878787;
		text-align: center;
		display: block;
		&:hover {
			i {
				font-size: 0.7em;
			}
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/



/*********************
RESPONSIVE NAV
*********************/

/*********************
MAIN PAGE
*********************/

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}