<div data-ng-controller="ArenaController as Arena">
	<div class="arena-list">
		<div class="col-md-5">
			<div class="panel">
				<div class="panel-body">
					<h4>Informe o nome do usuário:</h4>
					<div class="form-fight">
						<form>
							<div class="input-group">
								<input type="text" class="form-control fighter_name" name="" placeholder="Nome do usuário no github" data-ng-model="Arena.nome_fighter">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit" data-ng-click="Arena.add(Arena.nome_fighter)">Encontrar!</button>
								</span>
							</div>
						</form>
						<div class="first-fighter animated hidden">
							<div class="card-fighter">
								<ul class="list-unstyled">
									<li>
										<img class="img-fighter img-responsive img-circle" data-ng-src="{{Arena.info.avatar_url}}" alt="imagem perfil">
									</li>
									<li><i class="fa fa-user" aria-hidden="true"></i> {{Arena.info.name}}</li>
									<li>
										<i class="fa fa-external-link" aria-hidden="true"></i> 
										<a target="blank" href="{{Arena.info.blog}}">{{Arena.info.blog}}</a>
									</li>
									<li>
										<i class="fa fa-building" aria-hidden="true"></i> {{Arena.info.company}}
									</li>
									<li>
										<i class="fa fa-map-marker" aria-hidden="true"></i> {{Arena.info.location}}
									</li>
									<li>
										<i class="fa fa-github" aria-hidden="true"></i>
										<a target="blank" href="{{Arena.info.html_url}}">{{Arena.info.html_url}}</a>
									</li>
								</ul>
								<ul class="list-inline text-center box-points">
									<li>
										<p>Repositórios Gists</p>
										<p class="points">{{Arena.info.public_gists}}</p>
									</li>
									<li>
										<p>Repositórios Públicos</p>
										<p class="points">{{Arena.info.public_repos}}</p>
									</li>
								</ul>
								<div class="total-points">
									<h5>TOTAL</h5>
									<p>{{Arena.total}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="winner animated fadeInDown">
				<h3>VENCEDOR</h3>
			</div>
		</div>
		<div class="col-md-2">
			<div class="divider">
				X
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel">
				<div class="panel-body">
					<h4>Informe o nome do usuário:</h4>
					<div class="form-fight">
						<form>
							<div class="input-group">
								<input type="text" class="form-control fighter_name" name="" placeholder="Nome do usuário no github" data-ng-model="Arena.nome_fighter_2">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit" data-ng-click="Arena.add2(Arena.nome_fighter_2)">Encontrar!</button>
								</span>
							</div>
						</form>
						<div class="second-fighter animated">
							<div class="card-fighter">
								<ul class="list-unstyled">
									<li>
										<img class="img-fighter img-responsive img-circle" data-ng-src="{{Arena.info2.avatar_url}}" alt="imagem perfil">
									</li>
									<li><i class="fa fa-user" aria-hidden="true"></i> {{Arena.info2.name}}</li>
									<li>
										<i class="fa fa-external-link" aria-hidden="true"></i> 
										<a target="blank" href="{{Arena.info2.blog}}">{{Arena.info2.blog}}</a>
									</li>
									<li>
										<i class="fa fa-building" aria-hidden="true"></i> {{Arena.info2.company}}
									</li>
									<li>
										<i class="fa fa-map-marker" aria-hidden="true"></i> {{Arena.info2.location}}
									</li>
									<li>
										<i class="fa fa-github" aria-hidden="true"></i>
										<a target="blank" href="{{Arena.info2.html_url}}">{{Arena.info2.html_url}}</a>
									</li>
								</ul>
								<ul class="list-inline text-center box-points">
									<li>
										<p>Repositórios Gists</p>
										<p class="points">{{Arena.info2.public_gists}}</p>
									</li>
									<li>
										<p>Repositórios Públicos</p>
										<p class="points">{{Arena.info2.public_repos}}</p>
									</li>
								</ul>
								<div class="total-points">
									<h5>TOTAL</h5>
									<p>{{Arena.total2}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="winner animated fadeInDown">
				<h3>VENCEDOR</h3>
			</div>
		</div>
	</div>
</div>